body{ 
color:#FFC;
}
body,td,th {
	font-family: Arial;
	font-size: 14px;
	color: #FFC;
}
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: underline;
	color: #FFF;
}
a:active {
	text-decoration: none;
	color: #0FF;
}